body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

.painel {
    display: flex;
    background-color: white;
    width: 655px;
    height: 350px;
    padding: 35px 0px 20px 0px;
    border-radius: 20px;
    position: static;
}

.img-pessoa{
    position: absolute;
    width: 278px;
    height: 293px;
    transform: translateX(-90px);
}

.seta{
    /* width: 30px; */
    /* height: 30px; */
    transform: translateY(-25%);
    margin-right: 10px;
}

.seta-cinza{
    color: rgb(166, 166, 166);
}

.seta-laranja{
    color: rgb(241, 70, 36);
}

.textos{
    align-content: start;
    width: 395px;
    margin: 25px 35px 40px 225px;
}

.linha-pergunta {
    display: flex;
    font-weight: 500;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
}

.box-pergunta{
    padding: 15px 0px;
}

.borda-divisao{
    border-bottom: 1px solid lightgray;
}

.titulo{
    font-weight: 700;
    font-size: 25px;
}

.resposta{
    font-weight: 300;
    font-size: 15px;
}

.nao-exibir{
    position: absolute;
    background-color: aqua;
    opacity: 0;
}